{{ kowabunga_fqdn }} {
  encode

  @api path /api/* /confirm /confirmForgotPassword /latest
  @ws {
    path /ws
    header Connection *Upgrade*
    header Upgrade    websocket
  }

  # Kahuna Orchestrator
  handle @api {
    reverse_proxy {{ kowabunga_kahuna_http_address }}:{{ kowabunga_kahuna_http_port }}
  }
  handle @ws {
    reverse_proxy @ws {{ kowabunga_kahuna_http_address }}:{{ kowabunga_kahuna_http_port }}
  }

{% if kowabunga_koala_enabled %}
  # Koala WebUI
  handle {
    root * {{ kowabunga_koala_root_dir }}
    try_files {path} /index.html
    file_server
  }
{% endif %}
}

{% if kowabunga_metrology_dashboard_enabled | default(false) %}
{{ kowabunga_metrology_dashboard_public_url | replace('http://', '') | replace('https://', '') }} {
  encode
  reverse_proxy {{ grafana_listen_addr | default('127.0.0.1') }}:{{ grafana_http_port | default(3000) }}
}
{% endif %}
