{{ kowabunga_fqdn }} {
  encode

  @api path /api/* /confirm /confirmForgotPassword /latest
  @ws {
    path /ws
    header Connection *Upgrade*
    header Upgrade    websocket
  }

  # Kahuna Orchestrator
  handle @api {
    reverse_proxy {{ kowabunga_kahuna_http_address }}:{{ kowabunga_kahuna_http_port }}
  }
  handle @ws {
    reverse_proxy @ws {{ kowabunga_kahuna_http_address }}:{{ kowabunga_kahuna_http_port }}
  }

{% if kowabunga_koala_enabled %}
  # Koala WebUI
  handle {
    root * {{ kowabunga_koala_root_dir }}
    try_files {path} /index.html
    file_server
  }
{% endif %}
}

{% if kowabunga_metrology_dashboard_enabled | default(false) and kowabunga_metrology_dashboard_public_url != '' %}
{{ kowabunga_metrology_dashboard_public_url | urlsplit('hostname') }} {
  encode
  reverse_proxy {{ grafana_listen_addr | default('127.0.0.1') }}:{{ grafana_http_port | default(3000) }}
}
{% endif %}

{% if kowabunga_metrology_server_metrics_enabled | default(false) and kowabunga_metrology_server_metrics_public_url != '' %}
{{ kowabunga_metrology_server_metrics_public_url | urlsplit('hostname') }} {
  encode

  @remote_write path /api/v1/write

  handle @remote_write {
{% if tmp_metrics_auth_password_hash !=  '' %}
    basic_auth {
      {{ kowabunga_metrology_server_metrics_auth_user }} {{ tmp_metrics_auth_password_hash }}
    }
{% endif %}

    reverse_proxy {{ victoriametrics_listen_addr | default('127.0.0.1') }}:{{ victoriametrics_port | default(8428) }}
  }
}
{% endif %}

{% if kowabunga_metrology_server_logs_enabled | default(false) and kowabunga_metrology_server_logs_public_url != '' %}
{{ kowabunga_metrology_server_logs_public_url | urlsplit('hostname) }} {
  encode

  @remote_write path /insert/loki/api/v1/push

  handle @remote_write {
{% if tmp_logs_auth_password_hash !=  '' %}
    basic_auth {
      {{ kowabunga_metrology_server_logs_auth_user }} {{ tmp_logs_auth_password_hash }}
    }
{% endif %}

    reverse_proxy {{ victorialogs_listen_addr | default('127.0.0.1') }}:{{ victorialogs_port | default(9428) }}
  }
}
{% endif %}
