global:
  logLevel: {{ kowabunga_kaktus_loglevel }}
  id: {{ kowabunga_kaktus_agent_id }}
  endpoint: "wss://{{ kowabunga_fqdn }}"
  apiKey: {{ kowabunga_kaktus_agent_api_key }}
libvirt:
  protocol: tcp
  address: {{ kowabunga_libvirt_listen_addr }}
  port: 16509
ceph:
  plugin: /usr/lib/kowabunga/plugins/ceph.so
  monitor:
    name: {{ kowabunga_kaktus_ceph_monitor_name }}
    address: {{ kowabunga_kaktus_ceph_monitor_host }}
    port: {{ ceph_messenger_v2_port }}
