# Details MariaDB database for PowerDNS
launch+=gmysql
gmysql-host={{ powerdns_database_host }}
gmysql-port={{ powerdns_database_port }}
gmysql-dbname={{ powerdns_database_name }}
gmysql-user={{ powerdns_database_user }}
gmysql-password={{ kowabunaga_powerdns_db_user_password }}
gmysql-dnssec=false
