# general service
local-port={{ powerdns_authoritative_port }}

local-address= 127.0.0.1 {% if kowabunga_network_failover_enabled %}{% for tracker in kowabunga_network_failover_settings.trackers %}{% for cfg in tracker.configs %}{% if cfg.vip | ansible.utils.ipaddr('private') %} {{ cfg.vip | ansible.utils.ipaddr('address') }}{% endif %}{% endfor %}{% endfor %}{% endif %} {% for iface in ansible_local.auto.network.interfaces | default ([]) %}{% if ansible_local.auto.network.interfaces[iface].private %} {{ ansible_local.auto.network.interfaces[iface].ip }}{% endif %}{% endfor %}

dnsupdate=true

# api
api-key={{ kowabunga_powerdns_api_key  }}
api=true
webserver=true
webserver-address=localhost
webserver-port={{ powerdns_auth_webserver_port }}
webserver-password={{ kowabunga_powerdns_webserver_password }}
webserver-allow-from={{ powerdns_allow_from }}
