{% for file in logrotate_syslog_files %}
{{ file }}
{% endfor %}
{
  rotate {{ logrotate_max_files }}
  maxsize {{ logrotate_max_file_size_gb }}G
  weekly
  missingok
  notifempty
  compress
  delaycompress
  sharedscripts
  postrotate
    /usr/lib/rsyslog/rsyslog-rotate
  endscript
}
