# sysctl config for vrrp

# Allow binding non-local IPs (e.g. VIP)
net.ipv4.ip_nonlocal_bind=1

net.ipv4.conf.all.rp_filter=0
net.ipv4.conf.default.rp_filter=0

net.ipv4.conf.all.arp_ignore=1
net.ipv4.conf.default.arp_ignore=1

net.ipv4.conf.all.arp_announce=2
net.ipv4.conf.default.arp_announce=2
