[global]
fsid = {{ kowabunga_ceph_fsid }}
public_network = {{ kowabunga_ceph_network }}
mon_initial_members = {% for node in ceph_monitor_nodes %}{{ hostvars[node].name }}{% if not loop.last %},{% endif %}{% endfor %}

mon_host = {% for node in ceph_monitor_nodes %}{{ hostvars[node].kowabunga_ceph_monitor_listen_addr }}{% if not loop.last %},{% endif %}{% endfor %}

auth_cluster_required = cephx
auth_service_required = cephx
auth_client_required = cephx
; This empty line is left intentionally.
; It is needed to have a carriage return on the last line in the config file