# Ansible deployment infos
LAST_DEPLOY="{{ run_ts_date.stdout }}"
LAST_DEPLOY_TIME="{{ run_ts_time.stdout }}"
LAST_DEPLOY_ANSIBLE_VERSION="{{ ansible_version.string }}"
LAST_DEPLOY_ANSIBLE_TAGS="{{ ansible_run_tags | join(':') }}"
LAST_DEPLOY_USER="{{ ansible_user | default("unset") }}"
GIT_BRANCH="{% if lookup('file', role_path + '/../../../../../../../.git/HEAD', errors='ignore') %}{{ lookup('file', role_path + '/../../../../../../../.git/HEAD').split('/')[-1] }}{% else %}N/A{% endif %}"
GIT_COMMIT="{% if lookup('file', role_path + '/../../../../../../../.git/ORIG_HEAD', errors='ignore') %}{{ lookup('file', role_path + '/../../../../../../../.git/ORIG_HEAD') }}{% else %}N/A{% endif %}"
