global:
  logLevel: {{ kowabunga_kiwi_loglevel }}
  id: {{ kowabunga_kiwi_agent_id }}
  endpoint: "wss://{{ kowabunga_fqdn }}"
  apiKey: {{ kowabunga_kiwi_agent_api_key }}
pdns:
  authoritative:
    host: {{ powerdns_locally_managed_dns_ip }}
    api_port: {{ powerdns_auth_webserver_port }}
    api_key: {{ kowabunga_powerdns_api_key }}
  recursors:
{% for host in groups[kiwi_powerdns_recursor_cluster_group_name] %}
    - host: {{ powerdns_locally_managed_dns_ip }}
      port: {{ powerdns_authoritative_port }} # misleading, this is actually AS service port, not recursor one, but it makes things simpler
      api_port: {{ powerdns_recursor_webserver_port }}
      api_key: {{ kowabunga_powerdns_api_key }}

{% endfor %}
