MOD_NAME="grafana"
MOD_PRIO=4

# private functions
infoGrafana() {
    processInfo "/usr/sbin/grafana-server"
}

# publicly exported functions
# each of the below function may or may not be defined

grafana_status() {
    checkService grafana-server grafana
    infoGrafana
}

grafana_stop() {
    stopService grafana-server "" grafana-server
}

grafana_start() {
    startService grafana-server pingService grafana-server
}

grafana_restart() {
    restartLoad grafana-server
}
