MOD_NAME="logrotate"
MOD_PRIO=2

# private functions
infoLogrotate() {
    processInfo "/usr/sbin/logrotate"
}

# publicly exported functions
# each of the below function may or may not be defined

logrotate_status() {
    checkService logrotate logrotate
    infoLogrotate
}

logrotate_stop() {
    stopService logrotate "" logrotate
}

logrotate_start() {
    startService logrotate pingService logrotate
}

logrotate_restart() {
    restartService logrotate pingService logrotate
}
