MOD_NAME="mariadb"
MOD_PRIO=2

# private functions
infoMariaDB() {
    processInfo "/usr/sbin/mariadbd"
}

# publicly exported functions
# each of the below function may or may not be defined

mariadb_status() {
    checkService mariadb mariadb-server
    infoMariaDB
}

mariadb_stop() {
    stopService mariadb "" "/usr/sbin/mariadbd"
}

mariadb_start() {
    startService mariadb pingService mariadb
}

mariadb_restart() {
    restartService mariadb pingService mariadb
}
