MOD_NAME="mariadb"
MOD_PRIO=2

# private functions
infoMariaDB() {
    processInfo "/usr/sbin/mariadbd"
    mariadbTest=$(sudo mariadb-admin ping)
    res=$?
    if [ "${res}" -ne 0 ]; then
        logErrorWithDiagnosis "  mariadb-admin ping" "${mariadbTest}"
    else
        displaySuccess "  mariadb-admin ping"
        [ $isVerbose -eq 1 ] && echo "${mariadbTest}" | sed -r 's/^/    /'
    fi
    mariadbTest=$(sudo mariadb-admin status)
    res=$?
    if [ "${res}" -ne 0 ]; then
        logErrorWithDiagnosis "  mariadb-admin status" "${mariadbTest}"
    else
        displaySuccess "  mariadb-status status"
        echo "${mariadbTest}" | sed -r 's/^/    /'
    fi
}

# publicly exported functions
# each of the below function may or may not be defined

mariadb_status() {
    checkService mariadb mariadb-server
    infoMariaDB
}

mariadb_stop() {
    stopService mariadb "" "/usr/sbin/mariadbd"
}

mariadb_start() {
    startService mariadb pingService mariadb
}

mariadb_restart() {
    restartService mariadb pingService mariadb
}
